<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.3/jquery.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div>
      <button id="bot_1">bot_1</button>
      <button id="bot_2">bot_2</button>
    </div>
  </body>
  <script>
    // function foo (obj) {
    //     with (obj) {
    //         a = 2;
    //     }
    // }
    // var o1 = {
    //     a: 3
    // };
    // var o2 = {
    //     b: 3
    // };
    // foo(o1);
    // console.log(o1.a); // 2
    // foo(o2);
    // console.log(o2.a); // undefined
    // console.log(a); // 2

    // foo(); // 3
    // function foo() {
    //     console.log(1);
    // }
    // var foo = function() {
    //     console.log(2);
    // }

    // function setupBot(name, selector) {
    //     $(selector).click(function activator(){
    //         console.log('Activating: ' + name);
    //     });
    // }
    // setupBot("Closure Bot 1", "#bot_1");
    // setupBot("Closure Bot 2", "#bot_2");

    // for(let n = 0; n < 5; n++ ) {
    //     setTimeout(function timer() {
    //         console.log(n)
    //     },n * 1000)
    // }

    /* 闭包函数+递归函数+apply用法 实例 */

    // function memoize(fn) {
    //   const cache = {};
    //   return function () {
    //     const key = JSON.stringify(arguments);
    //     // console.log('arguments' + JSON.stringify(arguments))
    //     var value = cache[key];
    //     // console.log('value' + !value)
    //     if (!value) {
    //         // console.log(fn)
    //       value = [fn.apply(null, arguments)]; // 放在一个数组中，方便应对 undefined，null 等异常情况
    //       cache[key] = value;
    //     //   console.log('!value' + value)
    //     }
    //     // console.log('cache ' + JSON.stringify(cache))  // 4,3,2为啥不执行，一直到 1 才执行
    //     // console.log('value[0]' + value[0])
    //     return value[0];
    //   };
    // }

    // const fibonacci = memoize((n) =>
    //   n < 2 ? n : fibonacci(n - 1) + fibonacci(n - 2)
    // );
    // console.log(fibonacci(4)); // 执行后缓存了 fibonacci(2), fibonacci(3),  fibonacci(4)
    // // fibonacci(3) + fibonacci(2)
    // // fibonacci(2) + fibonacci(1) + fibonacci(1) + fibonacci(0)
    // // fibonacci(1) + fibonacci(0) + fibonacci(1) + fibonacci(1) + fibonacci(0)
    // console.log(fibonacci(5)); // fibonacci(2), fibonacci(3),  fibonacci(4) 的结果直接从缓存中取出，同时缓存其他的
    // // fibonacci(4) + fibonacci(3)

    var MyModules = (function Manager() {
      var modules = {};
      function define(name, deps, impl) {
        for (let i = 0; i < deps.length; i++) {
          deps[i] = modules[deps[i]];
        }
        modules[name] = impl.apply(impl, deps);
      }
      function get(name) {
        return modules[name];
      }
      return {
        define: define,
        get: get,
      };
    })();

    MyModules.define("bar", [], function () {
      function hello(who) {
        return "Let me introduce: " + who;
      }
      return {
        hello: hello,
      };
    });
    MyModules.define("foo", ["bar"], function (bar) {
      var hungry = "hippo";
      function awesome(who) {
        console.log(bar.hello(hungry).toUpperCase());
      }
      return {
        awesome: awesome,
      };
    });
    var bar = MyModules.get("bar");
    // console.log(bar)
    var foo = MyModules.get("foo");
    // console.log(foo)
    console.log(bar.hello("hippo")); // Let me introduce: hippo
    foo.awesome();
  </script>
</html>
