* {
    margin: 0;
    padding: 0;
}
.lil-gui{
    display: none !important;
}
body {
    transition: 1s;
}
#md-editor-v3 {
    height: 100%;
}
.n-tabs-pane-wrapper {
    height: calc(100% - 50px);
    padding-bottom: 25px;
}
.n-card__content {
    height: 100%;
}
